
<div class="parent">
    <div class="parent-content">
        <h2>{{"contact.sayHi"|translate}}</h2>
        <p class="green-text">{{"contact.discussProject"|translate}}</p>
        <p class="say-hello-text">{{"contact.letsDiscuss"|translate}}</p>
        <form  class="form" (ngSubmit)="onSubmit(contactForm)" #contactForm = "ngForm">
        
            <input #name="ngModel" class="input" [(ngModel)]="contactData.name" type="text" id="fname" name="firstname" placeholder="Your name.." required>
            @if(!name.valid && name.touched){
                <p class="error">{{"contact.nameError"|translate}}</p>
            }
            <input #email="ngModel" class="input" [(ngModel)]="contactData.email" type="email" id="lname" name="email" placeholder="Your email.." required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            @if(!email.valid && email.touched){
                <p class="error">{{"contact.emailError"|translate}}</p>
            }
            <textarea class="input" #message="ngModel" minlength="10"[(ngModel)]="contactData.message" id="message" name="message" placeholder="Your message.." style="height:200px" required></textarea>
            @if(!message.valid && message.touched){
                <p class="error">{{"contact.messageError"|translate}}</p>
            }
            <div class="checkbox-and-text">
                <div>
                    <input #checkbox = "ngModel" type="checkbox" id="vehicle1" name="vehicle1" value="Bike" [(ngModel)]="contactData.pPolicyAccepted" required>
                    <label  class ="label-checkbox"for="vehicle1"> {{"contact.privacyPolicy"|translate}} <a [routerLink]="['dataProtection']">{{"contact.privacyPolicyLink"|translate}}</a> {{"contact.privacyPolicyTwo"|translate}}</label><br>
                </div>
                @if(!contactData.pPolicyAccepted && pleaseAcceptPolicy){
                <p class="error">{{"contact.ppError"|translate}}</p>
                }
            </div>
                <button [disabled]="!name.valid || !message.valid || !email.valid" class="submit-button" type="submit" value="Submit">
                    {{"contact.submitButton"|translate}}
                </button>
        </form>
        @if(showPopUp){
            <div class="popup" >{{"contact.mailSended"|translate}} 
            </div>
        }
    </div>
    <div class="arrow">
        <a href="#atf">
            <svg width="54" height="77" viewBox="0 0 54 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M44.8525 38.1265L26.9263 24.0002L9.00011 38.1265" stroke="#FFFCF3" stroke-width="4"/>
                <path d="M26.9268 76.0439L26.9268 24" stroke="#FFFCF3" stroke-width="4"/>
            </svg>
        </a>
    </div>
    
    
</div>