@import '../../../styles.scss';
.parent{
    color:white;
    margin-top: 10%;
    padding:0px 100px;
    // position: relative;
    @include dFlex($fd:column);
    @media(max-width:1000px){
        padding: $parent-padding-medium;
    }
    @media(max-width:500px){
        padding:$parent-padding-resp;
    }
}
.parent-content{
    max-width:1920px;
    width:100%;
    text-align: center;
    @include dFlex($fd:column);
    color:white;
    position: relative;
}
.form{
    padding:100px 0px 0px 0px;
    background-color: black;
    width:80%;
}
.input{
    color:white;
    background-color: black;
    width:100%;
    height:50px;
    border:none;
    border-bottom: solid 1px white;
    margin-bottom:10px;
    &:focus{
        color:white;
        background-color: black;
        border:none;
        border-bottom: solid 1px white;
    }
    @media(max-width:1000px){
        font-size:16px;
        width:100%;
    }
}
h2{
    @include h2();
}
.submit-button{
    @include button($bgc:black, $bc:$cream, $fc:$cream);
    &:disabled{
        border-color: rgba(227, 213, 213, 0.321);
        color:rgba(227, 213, 213, 0.321);
    }
}
.green-text{
    font-size:32px;
    color:$blue;
    font-weight:700;
    @media(max-width:1000px){
        font-size:22px;
    }
}
.say-hello-text{
    font-size:22px;
    color:$cream;
    @media(max-width:1000px){
        font-size: 16px;
    }
}
.checkbox-and-text{
    @include dFlex($jc:flex-start, $fd:column);
    padding:32px 0px;
    @media(max-width:1000px){
        justify-content: center;
    }
}
a{
    text-decoration: none;
    color:$blue;
    &:hover{
        color:$blue;
        scale:1.1;
    }
}
.error{
    color:red;
}
.label-checkbox{
    text-align: center;
    @media(max-width:1000px){
        font-size: 14px;
    } 
}
.arrow{
    @include dFlex($jc:flex-end);
    width:100%;
    max-width: 1920px;
}
.popup{
    position:absolute;
    bottom: 30%;
    z-index: 40;
    height: 100px;
    width: 60%;
    max-width: 1440px;
    background-color: black;
    color: #FFFCF3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: solid 3px #FFFCF3;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    animation: slideIn 0.5s forwards; /* Apply animation */
    @media(max-width:1000px){
        font-size: 16px;
    }
}
input{
    font-family: "Overpass";
    font-size: 16px;
}
textarea{
    font-family: "Overpass";
    font-size: 16px;
}