@import '../../../styles.scss';
.parent{
    max-width:1920px;
    padding:$parent-padding;
    width:100%;
    @media(max-width:1000px){
        padding: $parent-padding-medium;
    }
    @media(max-width:500px){
        padding:$parent-padding-resp;
    }
}
.all-projects{
    @include dFlex($fd:column, $g:100px);
}
.example {
    width:100%;
    @include dFlex($g:20px, $jc:space-between, $ai:flex-start);

    &:nth-child(even) {
        @include dFlex($g:20px, $jc:space-between, $fd:row-reverse, $ai:flex-start);
        @media(max-width:1000px){
            flex-direction: column-reverse;
            align-items: flex-end;
        }
        // opacity: 0;
        // transform: translateX(100%);
    }
    @media(max-width:1000px){
        flex-direction: column-reverse;
        align-items: flex-start;
    }
  }
h2{
    @include h2();
    text-align: center;
}
p{
    text-align: center;
}

.showLeft{
    animation: slideInLeft 1.5s ease-in-out forwards;
    animation-iteration-count: 1
}
.show{
    animation: slideIn 1.5s ease-in-out forwards;
    animation-iteration-count: 1
}