
    @if(even){
        <div  class="info-about-project-even">
            <div class="name">{{singleProject.name}}</div>
            <div class="languages-parent">
                @for(language of singleProject.usedLanguages; track language; let last = $last; let odd = $odd; let even=$even){
                    @if(!last){
                        <div id="languages" class="languages">{{language}}|</div>
                    }@else {
                        <div id="languages" class="languages">{{language}}</div>
                    }
                }
            </div>
            <div class="info">{{singleProject.info}}</div>
            <a class="project-url" href="{{singleProject.gitHub}}" target="_blank" rel="noopener noreferrer">
                <button>
                    {{"projectExamples.openButton"|translate}}
                </button>
            </a>
        </div>
        <a class="project-url" href="{{singleProject.url}}" target="_blank" rel="noopener noreferrer"> 
            <img class="img-even" src={{singleProject.img}} alt="Project image">
            <!-- <button class="img-open-project-button">Open Project</button> -->
        </a>
    }@else {
        <div  class="info-about-project">
            <div class="name">{{singleProject.name}}</div>
            <div class="languages-parent">
                @for(language of singleProject.usedLanguages; track language; let last = $last; let odd = $odd; let even=$even){
                    @if(!last){
                        <div id="languages" class="languages">{{language}}|</div>
                    }@else {
                        <div id="languages" class="languages">{{language}}</div>
                    }
                }
            </div>
            <div class="info-odd">{{singleProject.info}}</div>
            <a class="project-url" href="{{singleProject.gitHub}}" target="_blank" rel="noopener noreferrer">
                <button>
                    {{"projectExamples.openButton"|translate}}
                </button>
            </a>

        </div>
        <a class="project-url" href="{{singleProject.url}}" target="_blank" rel="noopener noreferrer">
            <img class="img"src={{singleProject.img}} alt="Project image">  
            <!-- <button class="img-open-project-button">Open Project</button> -->
        </a>
        
    }