@import '../../../../styles.scss';
.parent{
    width:100%;
}
.languages-parent{
    @include dFlex();
}

.img{
    width:600px;
    height:auto;
    @media(max-width:1400px){
        width:480px;
    }
    @media(max-width:1250px){
        width:400px;
        height:auto;
    }
    @media(max-width:700px){
        width:300px;
        height:auto;
    }
    @media(max-width:400px){
        width:200px;
        height:auto;
    }
}
.img-even{
    width:600px;
    height:auto;
    @media(max-width:1400px){
        width:480px;
    }
    @media(max-width:1250px){
        width:400px;
        height:auto;
    }
    @media(max-width:700px){
        width:300px;
        height:auto;
    }
    @media(max-width:400px){
        width:200px;
        height:auto;
    }
}
button{
    @include button();
}
.name{
    font-size:45px;
    font-weight:800;
    @media(max-width:1000px){
        font-size: 30px;
    }
    @media(max-width:500px){
        font-size:20px ;
    }
}
.languages{
    font-size:23px;
    font-weight:400;
    color:$blue;
    @media(max-width:1000px){
        font-size: 18px;
    }
    @media(max-width:500px){
        font-size:12px ;
    }
}
.info{
    font-size:20px;
    font-weight:400;
    width:600px;
    @media(max-width:1300px){
        width:480px;
    }
    @media(max-width:1000px){
        width:400px;
    }
    @media(max-width:700px){
        width:300px;
    }
    @media(max-width:400px){
        width:200px;
    }
}
.info-odd{
    font-size:20px;
    font-weight:400;
    width:600px;
    @media(max-width:1300px){
        width:480px;
    }
    @media(max-width:1000px){
        width:400px;
        text-align: right;
    }
    @media(max-width:700px){
        width:300px;
    }
    @media(max-width:400px){
        width:200px;
    }
}
.info-about-project{
    @include dFlex($fd:column, $ai:flex-start);
    @media(max-width:1000px){
        align-items: flex-end;
    }
}
.info-about-project-even{
    @include dFlex($fd:column, $ai:flex-start);
}
