@import '../../../styles.scss';
.parent{
    @include dFlex($jc:space-between);
    background-color: $cream;
    padding:$parent-padding;
    @media(max-width:1000px){
        padding: $parent-padding-medium;
    }
    @media(max-width:500px){
        padding:$parent-padding-resp;
    }
}
.toggle-menu{
    width:22px;
    height:19px;
    >path {
        fill:rgb(10, 10, 8);
    }
}
img{
    width:40px;
    height:40px;
}
.toggle-content{
    position: absolute;
    right:100px;
    @media(max-width:1000px){
        right:48px;
    }
    @media(max-width:500px){
        right:10px;
    }
    @include dFlex($fd:column);
    >a{
       >svg{
        width:200px;
        height:100px;
        background-color: $cream;
        } 
    }
    
}