@import '../../../styles.scss';
.parent{
    @include dFlex($jc:space-between);
    max-width:1920px;
    padding:$parent-padding;
    @media(max-width:1000px){
        padding:$parent-padding-medium;
    }
    @media(max-width:500px){
        padding:$parent-padding-resp;
    }
    width:80%;
}
.toggle-menu{
    // width:65px;
    // height:55px;
    >path {
        fill:rgb(10, 10, 8);
    }
    // @media(max-width:1000px){
    //     width:50px;
    //     height:44px;  
    // }
    // @media(max-width:500px){
    //     width:40px;
    //     height:36px;  
    // }
}
img{
    width:80px;
    height:80px;
    @media(max-width:1000px){
        width:60px;
        height:60px;
    }
    @media(max-width:500px){
        width:40px;
        height:40px;
    }
}
.toggle-content{
    position: absolute;
    right:0;
    top:100%;
    @include dFlex($fd:column);
    >a{
        background-color: $cream;
        padding:8px 8px;
       >svg{
            width:200px;
            height:100%;
            transition: 125ms;
            border:solid 4px transparent;
            border-width: thick;
                &:hover{
                    border:solid 4px black;
                }
        } 
    }
    
}

.lang-toggle-menu{
    border:solid 3px black;
    border-width: thick;
    min-height:38px;
    width:90px;
    top:-20%;
    position: absolute;
    left:0%;
    text-align: center;
}
.lang-and-page-toggle-menu{
    @include dFlex($jc:flex-end);
    position: relative;
    width:200px;
}
.single-lang{
    height:38px;
    width:90px;
    @include dFlex();
    font-size:40px;
    padding:16px 0px;
    cursor: pointer;
}
.single-lang-click{
    height:38px;
    width:90px;
    @include dFlex();
    font-size:40px;
    padding:16px 0px;
    &:hover{
        cursor: pointer;
        border:solid 1px black;
        border-width: thick;
    }
}
.toggle-menu-parent{
    position: relative;
}