@import '../styles.scss';
body{
    margin:0;
    padding:0;
    max-width:1920px;
}
.content{
    height:100vh;
}
// .parent-of-page{
//     // @include dFlex($fd:column);
// }
.footer{
    background-color: black;
    @include dFlex();
    
}
.header{
    @include dFlex($fd:column);
}