@import '../../styles.scss';
body{
    @include dFlex($fd:column)
}
.contact{
    background-color: black;
    width:100%;
}
.main-content-parent{
    @include dFlex($fd:column);
}
.skills{
    width: 100%;
    @include dFlex();
}
.portfolio{
    width: 100%;
    @include dFlex();
}
.references{
    width: 100%;
    @include dFlex();
}