<div id='generator_results'>
    <div id='generator_results_content'>
    <h1>Impressum</h1>
    <h2>Verantwortliche(r)</h2>
    <p class='generator_user_input'>Rabia Söylemez</p>
    <h3>Postanschrift</h3>
    <p class='generator_user_input'>Wasenstraße 43/1,<br />
    71686 Remseck am Neckar</p>
    <h3>Kontakt</h3>
    <p>E-Mail: info &#64; rabia-soeylemez.com</p>
    <p>Telefon: 017647711884</p>
    <h2>Hinweise zur Website</h2>
    <h3>Urheberrechtliche Hinweise</h3>
    <p class='generator_user_input'>[Bitte Informationen ergänzen]</p>
    <h3>Verantwortlich für journalistisch-redaktionelle Inhalte</h3>
    <p class='generator_user_input'>[Bitte Informationen ergänzen]</p>
    <p><em>Dieses Impressum wurde mit Hilfe des <a href="https://www.activemind.de/generatoren/impressum/" target="_blank" rel="noopener">Impressums-Generators der activeMind AG</a> erstellt (Version 2024-07-05).</em></p>
    </div>
    </div>
