<div id='generator_results' class="parent">
    <div id='generator_results_content' class="child">
        <h1>{{"imprint.headline"|translate}}</h1>
        <h2>{{"imprint.responsiblePerson"|translate}}</h2>
        <p class='generator_user_input'>Rabia Söylemez</p>
        <h3>{{"imprint.adress"|translate}}</h3>
        <p class='generator_user_input'>Wasenstraße 43/1,<br />
        71686 Remseck am Neckar</p>
        <h3>Kontakt</h3>
        <p>{{"imprint.email"|translate}}: info &#64; rabia-soeylemez.com</p>
        <p>{{"imprint.telephone"|translate}}: 017647711884</p>
        <h2>{{"imprint.notesWebsite"|translate}}</h2>
        <h3>{{"imprint.copyrightNoticesHeadline"|translate}}</h3>
        <p class='generator_user_input'>{{"imprint.copyrightNotices"|translate}}</p>
        <p><em>{{"imprint.impressumGenerator"|translate}} <a href="https://www.activemind.de/generatoren/impressum/" target="_blank" rel="noopener">{{"imprint.impressumGeneratorLink"|translate}}</a> {{"imprint.impressumGeneratorTwo"|translate}}</em></p>
    </div>
</div>
