@import '../../../styles.scss';
.parent{
    max-width:1920px;
    padding:$parent-padding;
    width:100%;
    @media(max-width:1000px){
        padding: $parent-padding-medium;
    }
    @media(max-width:500px){
        padding:$parent-padding-resp;
    }
    text-align: center;
}
.reference-parent{
    @include dFlex($jc:space-between, $g:16px);
    @media(max-width:1200px){
        flex-direction: column;
    }
}
.reference{
    border:solid 2px black;
    width:400px;
    height:400px;
    @media(max-width:1600px){
        width:300px;
        height:300px; 
    }
    @media(max-width:500px){
        width:200px;
        height:200px; 
    }
}
.quotation-mark{
    @media(max-width:1000px){
        width:20px;
        height:20px; 
    }
}
h2{
    @include h2();
}
.info-before{
    padding:24px 0px;
}
.arrow{
    text-decoration: none;
    color:black;
    @include dFlex($jc:flex-end);
    @media(max-width:1000px){
    >svg{
        width:100px;
        height:100px; 
    }
    }
    
}
p{
    font-size:16px;
    margin:0;
    @media(max-width:1000px){
        font-size: 12px;
    }
}
.reference-text{
    font-size:24px;
    @media(max-width:1000px){
        font-size: 20px;
    }
}
.wrapper{
    height: 0px;
    border-top: 100px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 98vW solid rgb(0, 0, 0);
    @media(max-width:1600px){
        border-top: 50px solid transparent;
        border-left: 96vW solid rgb(0, 0, 0);
    }
    @media(max-width:1000px){
        border-top: 50px solid transparent;
        border-left: 93vW solid rgb(0, 0, 0);
    }
}
label{
    font-size:8px;
}
.showLeft{
    animation: slideInLeft 1.5s ease-in-out forwards;
    animation-iteration-count: 1
}
.show{
    animation: slideIn 1.5s ease-in-out forwards;
    animation-iteration-count: 1
}