@import '../../../styles.scss';
.headline-and-name{
    @include dFlex ($fd:column);
}
a{
    text-decoration: none;
    color:black;
    text-align: center;
    &:hover{
        color:rgba(0, 188, 143, 1);
    }
}
h1{
    font-family:'Syne';
    font-size:128px;
    font-weight: 800;
    column-count: 2;
    @include dFlex ($fd:column);
}
.line-and-name{
    @include dFlex($g:8px);
    width:80%;
}
.line{
    flex:1;
    height:10px;
    background-color: black;
}
.email{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotateZ(540deg);
}
.parent{
    @include dFlex($fd:column);
    height:80vH;
    background-color: $cream;
    max-width:1920px;
    padding:$parent-padding;
    @media(max-width:1000px){
        padding: $parent-padding-medium;
    }
    @media(max-width:500px){
        padding:$parent-padding-resp;
    }
}
.email-and-scroll-arrow{
    @include dFlex($jc:space-between, $ai:center);
    width:100%;
}
svg{
    width:64px;
    height:108px;
}
.developer-name{
    color:rgba(0, 188, 143, 1);
    font-size:48px;
    font-weight: 700;
}
p{
    font-size:22px;
    font-weight: 300;
}