<div class="parent">
    <div class="headline-and-name">
        <h1>Frontend Developer</h1>
        <div class="line-and-name">
            <div class="line"></div>
            <div class="developer-name">Rabia Söylemez</div>
        </div>
    </div>
    <div class="email-and-scroll-arrow">
        <p class="email overpass">rabia at gmail.com</p>
        <a href="#about">
            <svg width="96" height="163" viewBox="0 0 96 163" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23 135.105L48 160.105L73 135.105" stroke="black" stroke-width="4"/>
                <path d="M48 68V160.105" stroke="black" stroke-width="4"/>
            </svg>
            <p>Scroll down</p>
        </a>
    </div>
</div>


