/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior:smooth;
    overflow-x: hidden;
}
$blue:rgb(123,199,228);
$mint:rgba(0, 188, 143, 1);
$mint-button:rgb(157, 246, 225);
$cream: #FFFCF3;
$parent-padding: 60px 100px;
$parent-padding-medium: 20px 48px;
$parent-padding-resp:10px 20px;
    @keyframes slideIn {
        0% {
          opacity: 0;
          transform: translateX(16%); /* Startet außerhalb des Bildschirms */
        }
        100% {
          opacity: 1;
          transform: translateX(0); /* Endposition im Viewport */
        }
    }
    @keyframes slideInLeft {
        0% {
          opacity: 0;
          transform: translateX(-16%); /* Startet außerhalb des Bildschirms */
        }
        100% {
          opacity: 1;
          transform: translateX(0); /* Endposition im Viewport */
        }
    }

@mixin button($bgc:$cream, $bc:black, $fc:black) {
        background-color: $bgc;
        border: solid 1px $bc;
        padding:16px 26px;
        font-weight:400;
        font-size:30px;
        transition: 125ms;
        color:$fc;
        margin-top:16px;
        cursor: pointer;
        &:hover{
            // background-color: $blue;
            // scale:1.1;
            // border: none;
            padding:16px 50px;
        }
        @media(max-width:1000px){
            font-size: 22px;
            padding:8px 16px;
            &:hover{
                padding:8px 40px;
            }
        }
        @media(max-width:500px){
            font-size:16px ;
            padding:4px 8px;
            &:hover{
                padding:4px 30px;
            }
        }
}
@mixin dFlex($jc:center, $ai:center, $g:0px, $fd:row){
    display:flex;
    justify-content: $jc;
    align-items: $ai;
    gap:$g;
    flex-direction: $fd;
}
@mixin h2(){
    font-family: 'Syne';
    font-size:78px;
    font-weight: 800;
    @media(max-width:1250px){
        font-size:55px; 
    }
    @media(max-width:1000px){
        font-size:50px; 
    }
    @media(max-width:600px){
        font-size:25px; 
    }
}
body{
    margin:0;
    padding:0;
    // max-width:1920px;
    // @include dFlex($fd:column, $jc: none, $ai:center);
    min-height: 100vH;
    // min-width:1440px;
    font-family: 'Overpass';
    background-color: $cream;
}
.overpass{
    font-family: 'Overpass';
}