/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior:smooth;
}
$mint:rgba(0, 188, 143, 1);
$mint-button:rgb(157, 246, 225);
$cream: #FFFCF3;
$parent-padding: 60px 100px;
$parent-padding-medium: 20px 48px;
$parent-padding-resp:10px 10px;
// @media(min-width:1000px){
//     padding: $parent-padding-medium;
// }
// @media(min-width:500px){
//     padding:$parent-padding-resp;
// }
@mixin dFlex($jc:center, $ai:center, $g:0px, $fd:row){
    display:flex;
    justify-content: $jc;
    align-items: $ai;
    gap:$g;
    flex-direction: $fd;
}
body{
    margin:0;
    padding:0;
    // max-width:1920px;
    // @include dFlex($fd:column, $jc: none, $ai:center);
    min-height: 100vH;
    // min-width:1440px;
    font-family: 'Overpass';
    background-color: $cream;
}
.overpass{
    font-family: 'Overpass';
}