@import '../../../styles.scss';
// body{
//     margin:0;
//     background-color: black;
// }
a{
    text-decoration: none;
    color:white;
    &:hover{
        text-decoration: underline;
        color:antiquewhite
    }
}
// .parent-background{
//     background-color: black;
//     // @include dFlex();
// }
.parent{
    @include dFlex($jc:space-between);
    height: 100px;
    padding:$parent-padding;
    @media(max-width:1000px){
        padding: $parent-padding-medium;
    }
    @media(max-width:500px){
        padding:$parent-padding-resp;
    }
    max-width:1920px;
    width: 100vH;
}
.legal-notice-and-svgs{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
svg{
    &:hover .path {
        fill:rgb(242, 232, 182);
    }
}
img{
    width:40px;
    height:40px;
}

